@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary-color: #504dc0;
  --second-color: #8b9aee;
  --bg-color: #eff4fe;
  --primary-hover: #3b3a99;
  --shadow-color: #201f47;
  --color-white: #fefefe;
}
.darkMode {
  --bg-color: #0a0f19;
  --shadow-color: #161e2c;
}
#darkMode {
  background: none;
  color: var(--color-white);
  border: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 5px;
}
#darkMode::after {
  fill: white;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
img {
  height: 200px;
  width: 200px;
}
body {
  position: relative;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  background-color: hsla(241, 47%, 52%, 1);
  background-image: radial-gradient(
      at 47% 100%,
      hsla(240, 60%, 26%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 0% 0%, rgb(116, 142, 238) 0px, transparent 50%);
}
.container-register {
  margin: 20px 0;
  width: 90%;
  align-items: center;
  background-color: var(--bg-color);
  border: 1px solid var(--bg-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  -webkit-box-shadow: 0px 4px 44px 9px var(--shadow-color);
  -moz-box-shadow: 0px 4px 44px 9px var(--shadow-color);
  box-shadow: 0px 4px 44px 9px var(--shadow-color);
}
.container-register h1 {
  color: var(--primary-color);
  font-size: 36px;
}
.container-register span {
  color: var(--second-color);
  font-size: 12px;
  text-align: center;
  width: 200px;
}
.container-register form {
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  font-size: 12px;
  gap: 15px;
  width: 65%;
}
.container-register .container-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.container-register form .container-input input {
  background-color: var(--bg-color);
  border: 1px solid var(--second-color);
  border-radius: 10px;
  color: var(--second-color);
  font-size: 12px;
  padding: 8px;
  width: 100%;
}
.container-register form input:focus {
  color: var(--second-color);
  font-size: 12px;
  outline: 0.5px solid var(--primary-color);
}
.container-register ::placeholder {
  color: var(--second-color);
  font-size: 12px;
  padding: 5px;
}
.container-register .error {
  width: 100%;
  font-size: 12px;
  text-align: start;
  color: rgb(255, 0, 0);
}
.container-register .container-input {
  position: relative;
}
.container-register .container-input #eye-icon {
  width: 16px;
  position: absolute;
  top: 33px;
  right: 12px;
}
.container-register form a {
  color: var(--second-color);
  font-size: 12px;
  padding: 5px 0px;
  text-align: center;
}
.container-register button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 10px;
  color: #fefefe;
  font-weight: 600;
  margin: 5px;
  padding: 10px 0px;
  /* -webkit-box-shadow: 0px 4px 32px 2px rgba(80, 77, 192, 0.62);
  -moz-box-shadow: 0px 4px 32px 2px rgba(80, 77, 192, 0.62);
  box-shadow: 0px 4px 32px 2px rgba(80, 77, 192, 0.62); */
  transition: 0.2s;
}
.container-register button:hover {
  background-color: var(--primary-hover);
}
.container-register #login-link {
  color: var(--second-color);
  font-size: 12px;
  padding: 5px 0px;
  text-align: center;
  width: 150px;
}

/* media query para sobremesas */
@media screen and (min-width: 1025px) {
  body {
    background-color: hsla(241, 47%, 52%, 1);
    background-image: radial-gradient(
        at 47% 100%,
        hsla(240, 60%, 26%, 1) 0px,
        transparent 50%
      ),
      radial-gradient(at 0% 0%, rgb(116, 142, 238) 0px, transparent 50%);
    height: 100vh;
    display: flex;
    align-items: center;
  }
  img {
    width: 100px;
    height: 100px;
  }
  .container-register {
    width: 35%;
    margin: 0;
    justify-content: center;
    background: var(--bg-color);
    position: fixed;
    right: 0;
    padding: 0 100px;
    border-radius: 0;
  }
  .container-register h1 {
    font-size: 40px;
  }
  .container-register span {
    font-size: 16px;
    width: 250px;
  }
  .container-register img {
    width: 400px;
    height: 400px;
  }
  .container-register form {
    font-size: 16px;
    gap: 5px;
  }
  .container-register form input {
    padding: 10px;
  }
  .container-register form button {
    margin: 15px 0;
  }
  .container-register .container-password {
    position: relative;
  }
  .container-register .container-password #eye-icon {
    width: 16px;
    position: absolute;
    top: 37px;
    right: 15px;
  }
}
